extends layout

block content
    
    .heading
        h1= "#thejobfairy"
        p= "Lorem ipsum dolor sit amet consectetur adipisicing elit Iusto quam"

    .container
        .row
            include _partials/filter
        .tweets
            each tweet in tweets
                include _partials/tweet

        //- section.categories
        //-     each category in categories
        //-         a(href="/category/" + category.slug)= category.title

        != createPagination(pages, page)

    .heading.heading-short
        h2= "Tags"

    section.container.container-tags
        .row
            .tags
                each tag in tags
                    a(href="/tag/" + tag.title, style="color:" + tag.color + ";")= tag.title
                    =" "

        //- section.tags
        //-     each location in locations
        //-         a(href="/location/" + location.slug)= location.title



